  html, body, #app, #app>div {
      height: 100%;
      width: 100%;
    margin:0;
    padding:0;
    }
    
    .App {
      background-color: #ffffff;
      width: 100%;
      height: 100%; 
      margin: 0;
      padding: 0;
    }
    
    .Idea-logo {
      height: 25vmin;
      pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
      .Idea-logo {
        animation: Idea-logo-spin infinite 5s linear/*cubic-bezier(0, 0.8, 0, 1); */
      }
    }
    
    .Idea-header {
      min-height: 100vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .App-link {
      color: #61dafb;
    }
    
    @keyframes Idea-logo-spin {
        0%   {transform: rotate(0deg)}
        10%  {transform: rotate(0deg)}
        20%  {transform: rotate(0deg)}
        30%  {transform: rotate(5deg)}
        40%  {transform: rotate(-5deg)}
        50%  {transform: rotate(5deg)}
        60%  {transform: rotate(-5deg)}
        70%  {transform: rotate(5deg)}
        80%  {transform: rotate(0deg)}
        90%  {transform: rotate(0deg)}
        100% {transform: rotate(0deg)}
    }
    .lowerMenu{
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      left: -4vh;
    
    }
    .menuItems{
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      top: 1.5vmin;
      left: 16.1vmin;
    }
    .menuItem{
      filter: brightness(0.9);
      transition-duration:0.5s;
    
    }
    .menuItem:hover{
    cursor: pointer;  
    color: gray;
    transition-duration:0.5s;
    
    }
    .contactItems{
      position: relative;
    left: 7.1vmin;
    }
    .cardContainer{
      width: 88vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }

  .modalArea{
    color: black;
  }

  .modalClose-container{
    position: relative;
    margin-left: auto;
    width: 50px;
    height: 50px;
    margin-top: 100px;
    cursor: pointer;
    }
    
  .leftright{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #75AF33;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
  }

  .rightleft{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #75AF33;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
  }

  label{
  color: black;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  opacity: 0;
  }
  .modalClose{
  margin: 60px 0 0 5px;
  position: absolute;
  }

  .modalClose-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #F25C66;
  }
  .modalClose-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #F25C66;
  }
  .modalClose-container:hover label{
  opacity: 1;
  }

  .formControl{
    border-radius: 20px;
  }
  .inputS{
    margin: 10px;
    border-radius: 0px;
    height: 5.1vh;
    min-width: 100px;
    width: 400px;

  }
  .inputL{
    margin: 10px;
    border-radius: 0px;
    min-height: 400px;
    min-width: 400px;
  }
  .someSpace{
    margin: 40px;
  }
  textarea:invalid {
    border: 2px dashed #75AF33;
  }
  textarea{
    outline-color: #456b1a  }
  textarea:valid {
     border: 2px solid #75AF33;
  }
.modalArea {
  font-size: 18px
  ;}