
html, body {
    height: 100%;
    width: 100%;
  }
.Navbar{
    width: 100vmin;
    height: 9vmin; 
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch

}
.Nav-logo{
        height: 25vmin;
        width: 25vmin;
        pointer-events: none;
}
.logoDiv{
height: 60%;
flex: left;

}
.NavContainer{
    height: 70%;   
    position: relative;
    top:11.5vmin;
    right: 5vmin
}
.bitToTheRight{
    position: relative;
    left: 1.4vmin;
}