.ButtonClass{
    border: 10px solid #0f2710;
    margin: 40px;
    border-radius: 40px;
    padding-top: 2%;
    padding-right: 3%;
    padding-left: 3%;
    background-color: #388E3C;
    transition-duration:0.5s;
    filter: brightness(.9);
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;


    /* box-shadow: 5px 5px 5px 0px#102c12; */
}
.ButtonClass:hover{
    transition-duration:0.5s;
    cursor: pointer;
    filter: brightness(1.1);
}

.pClass{
    color: #ffffff;
    font:15px bold 30px;}
